
services:
  file-viewer:
    build: .
    container_name: file-viewer
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - MOUNT_DIR=/data
      - HOST_MOUNT_DIR=${MEDIA_DIR}
    # command removed; use Dockerfile CMD to run prisma migrate and node server.js
    volumes:
      - type: bind
        source: ${MEDIA_DIR}
        target: /data
        consistency: delegated
      - type: bind
        source: D:\\code\\subtitle_translation\\NasClient
        target: /app
        consistency: delegated
      - type: volume
        source: node_modules
        target: /app/node_modules
    restart: unless-stopped

volumes:
  node_modules: